.lado_izquierdo {
background-color: rgba(0,87,88,255);
color: beige;
height: 600px;
display:flex;
flex-direction: column;
align-items: center;
justify-content:center;
}
.img_1{
    height: 100px;
    width: 70px;
}
.lado_izquierdo .fomulario{
    height:300px;
    align-self: center;
    width:100%;         
}
.title_1{
    padding: 50px;
}
